body {
    font-family: 'Lato', sans-serif;
}

a{
    color: #0085CD;
}

.top-bar, .top-bar ul{
    font-family: 'Lato', sans-serif;
    background-color: #EBEBEB;
}

.title-bar-title{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

h1, h5{
    font-family: 'Lato', sans-serif;
    color: white;
    font-weight: bold;
}

.column h5{
    color: #FF5832;
}

h3, h4{
    font-family: 'Lato', sans-serif;
    color: #2D2D2D;
    font-weight: bold;
}

.callout a{
    color: white;
}

.callout{
    background-color: #FF6139;
}
